
div#css-namespace-index {
  text-align: left;
  margin: 0 auto;
}

/* by default, not show 'right-col'. only show it on large screen*/
div#right-col {
  display: none;
}

div#left-col {
}

div.post-preview {
  margin: 0 0 30px;
  padding: 8px 28px 28px 16px;
}

.post-preview img {
  width: 80%;
}

.pp-title {
  text-align: center;
  line-height: 19px;
  font-size: 18px;
  margin: 0 0 16px;
}

.pp-title  a{
  color: #666;
  text-decoration: none;
}

.pp-timedate {
  text-align: center;
  color: #888;
  font-size: 12px;
}

.pp-content  {
    line-height: normal;
    font-size: 13px;
}

.pp-content a {
  color: rgb(249, 38, 114);
  text-decoration: none;
  font-weight: bold;
}

.pp-content .pp-image {
}

.pp-content .pp-image img {
}

div.pp-bottom-bar {
  height: 19px;      
  margin: 11px 0 0;
  line-height: 19px;
  font-size: 11px;
}


div.pp-tags {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

div.pp-tags a {
  color: #aaa;
  text-decoration: none;
  margin-left: 10px;
}   

div.pp-comments {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

div.pp-comments a{
  height: 19px;
  text-decoration: none;
  color: #aaa;
}

div#right-col {
  float: right;
  width: 230px;
}

#right-col div {
  background: #f5f5f5;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  margin-bottom: 8px;
}

div#db-fm img{
  display: none; /* tmp fix: the src of img is broken, so hide it*/
}

div#db-collect table {
  margin-right: auto;
  margin-left: auto;
}

div#self-intro {
  padding-bottom: 10px;
  padding-top: 10px;
}

div#self-intro p {
  color: rgb(68, 68, 68);
  text-align: center;
}

div#self-intro p#words {
  font-size: 12px;
  font-weight: 800;
}

div#self-intro p#mail {
  font-size: 11px;
  font-style: italic;
}

div.paging a {
  color: #515151;
  text-decoration: none;
}

div.paging .previous-page{
  float: left;
  margin-left: 30px;
}

div.paging .next-page{
  float: right;
  margin-right: 30px;
}


div.google-adsense-bottom {
  display: block;
}

@media only screen and (min-width: 768px) {
  div#right-col {
    display: block;
  }
  div#left-col {
    overflow: hidden;
  }
  div.google-adsense-bottom {
    display: none;
  }
}
