div#css-namespace-post {
    text-align: left;
    margin: 0 auto;
    font-size:13px;
}

div#css-namespace-post img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#post {
    padding: 12px;
    background: #fff;
    font-size: 14px;
}

div#disqus_thread {
    padding: 12px;
    background: #fff;
    margin-top: 24px;
}

div#post #title{
    margin-bottom: 38px;
}

div#post h1 {
    text-align: center;
    font-size: 1.5em;
}

div#post div#title h2 {
    text-align: right;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 800;
}

div#post #content p{
    margin-bottom: 24px;
}

#post #content a {
    color: rgb(249, 38, 114);
    text-decoration: none;
    font-weight: bold;
}

#post #content img {
  width: 80%;
}

div#pub-date {
    margin: 0 0 8px 0;
}

div#pub-date span{
    font-style: italic;
}
 
div.wb-sharing {
  display: inline-block;
}

a.db-sharing {
  display: inline-block;
  height: 25px;
}

img#db-sharing {
  padding-top: 3px;
  height: 17px;
  width: 81px !important;
}

.pay-weixin {
  color: grey;
  font-size: 12px;
}

.pay-weixin img{
  width: 120px;
  margin: 0 !important;
}

.post-right-col {
  width: 230px;
  /*height: 200px;*/
  /*border: 1px solid red;*/
  float: right;
  display: block;
  margin-left: 8px;
}

.post-comment {
  overflow: hidden;
}

.google-adsense-bottom {
  display: none;
}

@media only screen and (max-width: 500px) {
  .post-right-col {
    display: none;
  }
  .google-adsense-bottom {
    display: block;
  }
}
